@import url("https://fonts.googleapis.com/css2?family=Merienda:wght@400;700&family=Open+Sans&display=swap");
body {
  background-color: #fdfdff;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.App {
  padding-top: 30px;
}

.app__heading {
  text-align: center;
  margin-bottom: 40px;
  font-family: "Merienda", sans-serif;
}

.Appbar {
  margin-bottom: 30px;
}

.JokesList {
  margin: 20px 180px;
}

.joke {
  background-color: white;
  margin-bottom: 30px;
  padding: 10px 25px;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.joke__text {
  margin-bottom: 45px;
}

.joke__category p {
  border: 2px solid #ccc;
  margin-bottom: 25px;
  width: fit-content;
  padding: 3px 8px;
  border-radius: 12px;
  font-size: 14px;
}

.buttons {
  margin-right: 10px !important;
  padding: 6px 10px !important;
}

.LikedJokesList {
  margin: 20px 180px;
}

.MuiFormGroup-root {
  justify-content: center;
  margin-bottom: 25px;
}
